ENABLE_TESTABILITY = YES
IPHONEOS_DEPLOYMENT_TARGET = 9.0
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.$(TARGET_NAME)
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ENABLE_OBJC_ARC = YES
SKIP_INSTALL = YES
SWIFT_VERSION = 5.0
SWIFT_INCLUDE_PATHS = Sources/CorrelationVectorBindings
SDKROOT = iphoneos
INSTALL_PATH = @executable_path/Frameworks
