ENABLE_TESTABILITY = YES
FRAMEWORK_SEARCH_PATHS = "$(PLATFORM_DIR)/Developer/Library/Frameworks"
INFOPLIST_FILE = CorrelationVector.xcodeproj/CorrelationVector_Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 9.0
PRODUCT_BUNDLE_IDENTIFIER = com.microsoft.correlationVector
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
SKIP_INSTALL = YES;
SWIFT_VERSION = 5.0;
